# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Mac
.DS_Store

# Build artifacts
infra/envs/dev/build/
**/__pycache__/

.terraform/
terraform.tfstate*
